            <footer>
                <p class="pull-xs-right">
                    <small>
                        <a href="https://gitlab.com/rollenwiese/nginx_autoindex_theme">nginx autoindex</a>
                    </small>
                </p>
            </footer>
        </div>
        <script src="/.theme/js/jquery.js"></script>
        <script src="/.theme/js/bootstrap.js"></script>
        <script src="/.theme/js/main.js"></script>
    </body>
</html>
